@font-face {
  font-family: 'iconfont';  /* project id 984985 */
  src: url('//at.alicdn.com/t/font_984985_kt66k7er2jk.eot');
  src: url('//at.alicdn.com/t/font_984985_kt66k7er2jk.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_984985_kt66k7er2jk.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_984985_kt66k7er2jk.woff') format('woff'),
  url('//at.alicdn.com/t/font_984985_kt66k7er2jk.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_984985_kt66k7er2jk.svg#iconfont') format('svg');
}

 [class^="icon-"], [class*=" icon-"] {
  font-family: "iconfont" !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}

.icon-man:before { content: "\e648"; }
.icon-pswd:before { content: "\e650"; }
.icon-loading:before { content: "\e8fd"; }
.icon-close:before { content: "\e643"; }
.icon-close-2:before { content: "\e61f"; }
.icon-success:before { content: "\e65a"; }
.icon-warning:before { content: "\e61c"; }
.icon-info:before { content: "\e836"; }
.icon-error:before { content: "\e76a"; }
.icon-fullss:before { content: "\e65e"; }
.icon-reset:before { content: "\e65d"; }
.icon-more:before { content: "\e65c"; }
.icon-full:before { content: "\e65b"; }
.icon-pay-list:before { content: "\e659"; }
.icon-mirror:before { content: "\e658"; }
.icon-details:before { content: "\e657"; }
.icon-menu:before { content: "\e656"; }
.icon-shopping:before { content: "\e654"; }
.icon-choose:before { content: "\e653"; }
.icon-copy:before { content: "\e652"; }
.icon-add:before { content: "\e651"; }
.icon-return:before { content: "\e64f"; }
.icon-address:before { content: "\e64e"; }
.icon-logo:before { content: "\e67e"; }
.icon-nav:before { content: "\e64c"; }
.icon-smiled:before { content: "\e64b"; }
.icon-search:before { content: "\e64a"; }
.icon-back:before { content: "\e649"; }
.icon-sales:before { content: "\e647"; }
.icon-sort:before { content: "\e646"; }
.icon-min-sort:before { content: "\e65f"; }
.icon-max-sort:before { content: "\e660"; }
.icon-save:before { content: "\e641"; }
.icon-plus:before { content: "\e662"; }
.icon-less:before { content: "\e661"; }
.icon-right:before { content: "\e601"; }
.icon-left:before { content: "\e600"; }
.icon-zhifu:before { content: "\e663"; }
.icon-right-fill:before { content: "\e7fa"; }
.icon-exit:before { content: "\e672"; }
.icon-bottom:before { content: "\e66e"; }
.icon-revoke:before { content: "\e674"; }
.icon-reset:before { content: "\e670"; }
.icon-search-1:before { content: "\e673"; }
.icon-case:before { content: "\e66d"; }
.icon-material:before { content: "\e66f"; }
.icon-personal:before { content: "\e671"; }
.icon-up:before { content: "\e66c"; }
.icon-down:before { content: "\e669"; }
.icon-mirror:before { content: "\e66b"; }
.icon-copy:before { content: "\e677"; }
.icon-delete:before { content: "\e676"; }
.icon-detail:before { content: "\e678"; }
.icon-unlock:before { content: "\e67a"; }
.icon-lock:before { content: "\e67b"; }
.icon-screen:before { content: "\e67d"; }
.icon-upload:before { content: "\e67c"; }
.icon-collection:before { content: "\e68a"; }
.icon-collection_active:before { content: "\e68c"; }
.icon-error-1:before { content: "\e679"; }
.icon-qrcode:before { content: "\e6c1"; }
.icon-close-3:before { content: "\e6c0"; }
.icon-back-1:before { content: "\e6db" }
.icon-text:before { content: "\e6d6"; }
.icon-graphics:before { content: "\e6d5"; }
.icon-color:before { content: "\e6df"; }
.icon-light:before { content: "\e6d3"; }
.icon-shadow:before { content: "\e6d7"; }
.icon-pers:before { content: "\e6d9"; }
.icon-icon:before { content: "\e6d4"; }
.icon-typo:before { content: "\e6dc"; }
.icon-colors:before { content: "\e6e3"; }
.icon-bold:before { content: "\e6e2"; }
.icon-italic:before { content: "\e6e1"; }
.icon-select:before { content: "\e6e0"; }
.icon-transform:before { content: "\e6de"; }
.icon-random:before { content: "\e6d8"; }
.icon-confirm:before { content: "\e6dd"; }
.icon-cancel:before { content: "\e6da"; }
.icon-next:before { content: "\e6e6"; }
.icon-pre:before { content: "\e6e5"; }
.icon-stick:before { content: "\e6e4"; }
.icon-orlop:before { content: "\e6e7"; }
.icon-warning-1:before { content: "\e69a"; }
.icon-question:before { content: "\e699"; }
.icon-success-1:before { content: "\e698"; }
.icon-add-1:before { content: "\e6a1"; }
.icon-edit:before { content: "\e6f4"; }
.icon-edit-1:before { content: "\e6a0"; }
.icon-delete:before { content: "\e6f5"; }
.icon-dpds:before { content: "\e69e"; }
.icon-filter:before { content: "\e69d"; }
.icon-selected:before { content: "\e69c"; }
.icon-add-2:before { content: "\e6c7"; }
.icon-up-1:before { content: "\e6c8"; }
.icon-brand:before { content: "\e6c9"; }
.icon-slice:before { content: "\e6ca"; }
.icon-sc:before { content: "\e6f6"; }
.icon-qd:before { content: "\e6f7"; }
.icon-gwc:before { content: "\e6f8"; }
.icon-xssc:before { content: "\e6f9"; }
.icon-sz:before { content: "\e6fa"; }
